# Build directories
build/
XCodeBuild/

# IDE specific
.cache/
compile_commands.json
.vs/
.idea/
*.user
*.suo
*.workspace
*.xcworkspace
*.xcodeproj
*.sln

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# JUCE
JUCE/
JuceLibraryCode/
juce_vst3_helper

# MISC
.DS_Store
